body {
  margin: 0;
}

section {
  width: 100%;
  min-width: 300px;
}

nav {
  margin: 35px auto;
  font-size: 20px;
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 25px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:first-of-type {
  margin-right: 50px;
}

nav p {
  margin: 0;
}

nav p span {
  font-size: 12px;
}

nav .logo {
  position: absolute;
  left: 10%;
}

nav .pages {
  position: absolute;
  right: 21%;
}

.sectionButton {
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.42);
  color: white;
  background-color: #3dad9d;
}

.intro {
  height: 60vh;
  min-height: 500px;
  margin-top: 150px;
}

.intro .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
  margin: auto;
}

.intro .content .textContainer {
  font-size: 32px;
  width: 210px;
  margin-bottom: 50px;
}

.intro .content .textContainer .buttons {
  display: flex;
  flex-direction: column;
}

.intro .content .textContainer .buttons .button {
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.42);
}

.intro .content .textContainer .buttons .button:first-of-type {
  color: white;
  background-color: #3dad9d;
}

.intro .content .textContainer .buttons .button:last-of-type {
  border: 2px solid #3dad9d;
  padding: 8px 0;
  margin-top: 10px;
}

.virtualLearning {
  background-color: #f1e7e8;
  margin-top: 50px;
  height: 100vh;
}

.virtualLearning .content {
  width: 90%;
  margin: auto;
  padding: 4% 0;
  display: flex;
}

.virtualLearning .content .image {
  width: 50%;
}

.virtualLearning .content .textContainer {
  width: 50%;
  max-width: 500px;
}

.virtualLearning .sectionButton {
  width: 200px;
}
