body {
  margin: 0;
}

section {
  width: 100%;
  min-width: 300px;
}

nav {
  margin: 35px 0;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1049px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:first-of-type {
  margin-right: 50px;
}

nav p {
  margin: 0;
}

nav p span {
  font-size: 12px;
}

.intro .textContainer {
  font-size: 25px;
  width: 165px;
}

.intro .textContainer .buttons {
  display: flex;
  flex-direction: column;
}

.intro .textContainer .buttons .button {
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.42);
}

.intro .textContainer .buttons .button:first-of-type {
  color: white;
  background-color: #3dad9d;
}

.intro .textContainer .buttons .button:last-of-type {
  border: 2px solid #3dad9d;
  padding: 8px 0;
  margin-top: 10px;
}

.virtualLearning {
  background-color: #f1e7e8;
  margin-top: 50px;
}

.virtualLearning .content {
  width: 90%;
  margin: auto;
  padding: 4% 0;
  display: flex;
}

.virtualLearning .content .image {
  width: 50%;
}

.virtualLearning .content .textContainer {
  width: 50%;
  max-width: 500px;
}

.virtualLearning .sectionButton {
  width: 200px;
}

.sectionButton {
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.42);
  color: white;
  background-color: #3dad9d;
}
