body
  margin: 0 auto
  width: 90%
  max-width: 1200px
  min-width: 300px

nav
  margin: 35px 0
  font-size: 20px
  display: flex
  justify-content: space-between
  max-width: 1049px
  a
    text-decoration: none
    color: black
    &:first-of-type
      margin-right: 50px
  p
    margin: 0
    span
      font-size: 12px
