body {
  margin: 0;
}

section {
  width: 100%;
  min-width: 300px;
}

nav {
  margin: 35px auto;
  font-size: 20px;
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 25px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:first-of-type {
  margin-right: 50px;
}

nav p {
  margin: 0;
}

nav p span {
  font-size: 12px;
}

nav .logo {
  position: absolute;
  left: 10%;
}

nav .pages {
  position: absolute;
  right: 21%;
}

.sectionButton {
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.42);
  color: white;
  background-color: #3dad9d;
}

.sectionButton:hover {
  transform: scale(1.05);
  transition: transform .1s ease-in-out;
  cursor: pointer;
}

.intro {
  height: 60vh;
  min-height: 500px;
  margin-top: 150px;
}

.intro .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
  margin: auto;
}

.intro .content .textContainer {
  font-size: 32px;
  width: 210px;
  margin-bottom: 50px;
}

.intro .content .textContainer h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.intro .content .textContainer .buttons {
  display: flex;
  flex-direction: column;
}

.intro .content .textContainer .buttons .button {
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.42);
}

.intro .content .textContainer .buttons .button:first-of-type {
  color: white;
  background-color: #3dad9d;
}

.intro .content .textContainer .buttons .button:last-of-type {
  border: 2px solid #3dad9d;
  padding: 8px 0;
  margin-top: 10px;
}

.intro .content .textContainer .buttons .button:hover {
  transform: scale(1.05);
  transition: transform .1s ease-in-out;
  cursor: pointer;
}

.contentSection:nth-of-type(2) {
  margin-top: 50px;
  background-color: #f1e7e8;
}

.contentSection:nth-of-type(3) {
  background-color: white;
}

.contentSection:nth-of-type(3) .sectionButton {
  width: 260px;
}

.contentSection:nth-of-type(4) {
  background-color: #f1e7e8;
}

.contentSection:nth-of-type(4) .sectionButton {
  width: 260px;
}

.contentSection .content {
  width: 90%;
  margin: auto;
  padding: 4% 0;
  display: flex;
  align-items: center;
}

.contentSection .content .image {
  width: 50%;
  text-align: center;
}

.contentSection .content .textContainer {
  width: 50%;
  max-width: 500px;
  line-height: 1.5;
}

.contentSection .content .textContainer h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.contentSection .content .textContainer p {
  margin-bottom: 35px;
}

.contentSection .sectionButton {
  width: 200px;
}

.grid {
  background-color: #77a49f;
  color: white;
  padding: 100px 0;
}

.grid h2 {
  margin: 0;
  text-align: center;
  font-size: 40px;
}

.grid .cards {
  text-align: center;
  margin-top: 30px;
}

.grid .cards .card {
  background-color: #403e56;
  position: relative;
  width: 320px;
  padding: 25px;
  border-radius: 15px;
  display: inline-block;
  margin: 30px;
  -webkit-box-shadow: 0px 5px 6px -2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 5px 6px -2px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 5px 6px -2px rgba(0, 0, 0, 0.8);
}

.grid .cards .card .counter {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 25px;
}

.grid .cards .card .image {
  text-align: center;
}

.grid .cards .card .textContainer h3 {
  text-align: center;
  font-size: 20px;
}

.grid .cards .card .textContainer p {
  text-align: left;
}

footer {
  background-color: #403e56;
  color: white;
  text-align: center;
  padding: 40px 0;
}

footer .content p {
  margin: 0;
  font-size: 25px;
}

footer .content .socialMedia {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .content .socialMedia .item {
  margin: 0 25px;
}
